body,html{
    padding:0px;
    background-color: #eeab6d1b;
    align-items: center;
    height:100%;
    width:100vw;
    margin:0px;
    overflow: auto;
}

section{
    padding: 10px
}

h1,h2{
    text-align: center;
    font-size: 2em;
}

img{
    margin:10px;
    border-radius:20px;
    max-height:70vh;
    /* max-height: 50dvh; */
    /* max-width: 80%; */
}

#intro_div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    /* background-color: rgba(217, 250, 217, 0.342); */
    background-color: #EEAB6D;
    border-radius: 20px ;
    margin:0vw 10vw 0vw 10vw;
}

#events_div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: #EEAB6D;
    border-radius: 20px ;   
    margin:0vw 10vw 0vw 10vw;
}

#services_div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /* justify-items: center; */
    background-color: #EEAB6D;
    border-radius: 20px ;  
    margin:0vw 10vw 0vw 10vw;
}

#contact_div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: #EEAB6D;
    border-radius: 20px ;  
    /* padding:0vw 10vw 0vw 10vw; */
    margin:0vw 10vw 0vw 10vw ;
    /* width:70vw; */
}


.button_div{
    margin-top: 10px;
}

.text_block{
    /* padding: 5vw 15vw 5vw 0vw; */
    padding: 2vw 2vw 2vw 0vw;
    /* border-style: solid; */
}

#form_message_box{
    /* width:30vw; */
    width:100%;
    height:30vh;
}

#nav_div{
    /* display: flexbox; */
    position: sticky;
    top:0;
    /* z-index: 1000; */
    /* overflow: hidden; */
    height:auto;
    /* width: 100vw; */
    background-color: #165E14;
    align-content: center;
    padding-left: 10px;

}  

ul{
  list-style-type: none;
  margin: 0;
  padding-left: 10px;
  padding: 0;
}

li{
    float:left;
}

a{
    display: inline-block;
    padding:10px;
    text-decoration: none;
    color:white;
}

a:hover{
    background-color: #C1Ff72;
    color:green
}

a.active{
    background-color: beige;
    display: inline-block;
    padding:10px;
    text-decoration: none;
    color:green;
}

p{
    font-size: 1em;
}

#footer_div{
    overflow: hidden;
    height:auto;
    /* width: 100vw; */
    background-color: green;
    overflow:hidden;
    justify-items: center;
    /* padding:10px 0px 10px 0px */
}  

img.social_icon{
    max-height: 3vh;
    padding:0;
    margin:0;
    border-radius: 0;
}

section{
    align-items: center;
}

div.services_text{
    padding: 5vw 5vw 5vw 5vw;
}

ul.services_list{
  margin: 0;
  padding-left: 10px;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
}

a.text_link{
    text-decoration: underline;
    padding:0px;
    color:black;
}

div.event_title_div{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

h3{
    margin: 10px 0px 5px 0px;
}

div.single_event_div{
    padding:  0.5vw 5vw 0.5vw 5vw;
}

button{
    background-color: #165E14;
    color: white;
}

button:hover{
    background-color: #C1Ff72;
    color:green
}

#form_div{
    width:80%;
    margin:10px;
}

@media screen and (width <= 600px){
    #intro_div, #events_div, #contact_div{
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    img{
        max-height:70vw;
        padding:1vw
    }

    div.text_block{
        padding:5vw;
    }

    #form_div{
        width:80%;
    }

    input, #form_message_box{
        width:100%
    }

    p{
        text-align: center;
    }

    div.single_event_div{
        text-align: center;
    }

    .img_div{
        grid-row: 1;
    }
}